# CONCOURSE
.credentials.yml

# GO
coverage.out

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# Ignore binaries
**/bin/crypto-miner-manager

# Ignore test coverage
**/test/test_coverage.txt

# Ignore binary used for docker build
**/build-push/crypto-miner-manager
